
<header class="header">
  <a class="new" href="/articles/new">New Article</a>
  <a class="links" href="/">Home</a>
</header>
<main class="main">
  <h1 class="title-primary">Articles</h1>
  <ul>
  <% @articles.each do |article| %>
    <li>
      <%= link_to article.title, article %>
    </li>
  <% end %>
</ul>
</main>