<header class="header">
  <a class="links" href="/articles">Articles</a>
  <a class="links" href="/home">Home</a>
</header>
<main class="main">
  <h1 class="title-primary-articles">New Article</h1>
  <%= render "form", article: @article %>
</main>