
<header class="header">
  <a class="links" href="/articles">Articles</a>
</header>
<main class="main">
  <h1 class="title title-primary">Edu Ruiz</h1>
  <h2 class="title title-secondary">Fullstack Developer</h2>
  <p class="text-description">Simple personal web page, made in ruby on rails</p>
</main>