@font-face {
   font-family: 'Montserrat';
   src: url('Montserrat-Regular.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #3C1961;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title{
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  padding: 5px;
}

.title-primary {
  font-size: 30px;
}

.title-secondary {
  border-bottom: 2px solid #fff;
  padding-bottom: 20px;
}

.main {
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 7px;
}

.text-description{  
  padding-top: 10px;
  font-family: 'Montserrat', sans-serif;
}
