@font-face {
   font-family: 'Montserrat';
   src: url('Montserrat-Regular.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #3C1961;
  height: 100vh;
}

.header {
  height: 90px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-right: 50px;
}

.title{
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  padding: 5px;
}

.title-primary {
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
}

.title-secondary {
  border-bottom: 2px solid #fff;
  padding-bottom: 20px;
}

.main {
  height: 80%;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 7px;
}

.text-description{  
  padding-top: 10px;
  font-family: 'Montserrat', sans-serif;
}

.links {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #D00979;
  padding: 10px;
  width: 80px;
  height: 40px;
  margin-right: 20px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.new {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  text-decoration: none;
  color: #3C1961;
  background-color: #09d041;
  padding: 10px;
  width: auto;
  height: 40px;
  margin-right: 20px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

a {
  text-decoration: underline;
  color: #fff;
}